.client__info {
  display: flex;
  flex-direction: row;
  font-family: var(--oxygen-font);
  gap: 0.6rem;
  align-items: flex-start;
  justify-content: space-between;
}

.client__info-title,
.client__overview-title {
  color: var(--soft-red);
  font-size: 1rem;
}

.client__info-col,
.client__overview-col {
  display: flex;
  flex-direction: column;
}

.client__info-row {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.client__info-col > * {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.client__overview-col {
  background-color: var(--mint-green);
  padding: 0 1rem;
}
.client__overview-col > * {
  margin: 0;
  padding: 0;
}
.client__overview-col > p:nth-of-type(3) {
  color: var(--burnt-red);
  font-weight: bold;
}
.client__overview-col > p:nth-of-type(2) {
  color: var(--light-green);
  font-weight: bold;
}
.client__info-image {
  width: 160px;
  height: 160px;
}

#drop-down-arrows {
  height: 32px;
  width: 32px;
}

.client__filters .client__info-row {
  align-items: center;
}

.client__filters-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.client__invoices {
  text-align: center;
  padding-top: 1rem;
  color: var(--blue-black);
}
div.spinner {
  border: 8px solid var(--soft-sand);
  border-top: 8px solid var(--dark-green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 30px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 700px) {
  .client__overview-col {
    width: 90%;
    align-self: center;
  }
  .client__info {
    flex-direction: column;
  }

  .client__info-image {
    align-self: center;
    padding: 1rem;
  }

  .client__info-col {
    padding: 0;
    margin: 0.2rem;
  }

  .client__filters-container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
