.client-info {
  display: flex;
  flex-direction: row;
}
.client-info h3 {
  color: var(--soft-red);
}
.col-1,
.col-2 {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
.col-1 > *,
.col-2 > * {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}

.client-info img {
  width: 100px;
  height: 100px;
}
