.client-nav {
  font-family: var(--oxygen-font);
}

.client-nav nav {
  font-family: var(--oxygen-font);
  margin: 0 auto;
  height: 70px;
}
.client-nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-nav nav ul {
  width: 100%;

  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.client-nav ul > li:last-child {
  background-color: var(--burnt-red);
  color: var(--soft-sand);
  font-weight: bold;
  padding: 12px;
  border-radius: 60px;
}
.client-nav ul > li:last-child:hover {
  cursor: pointer;
}
