@font-face {
  font-family: 'poppins';
  src: url("./assets/Fonts/Poppins/Poppins-Regular.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100%;
  font-family: poppins, sans-serif;
  background-color: #fff;
}



